---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Porfolio about me">
	<main>
		<div class="m-2 relative h-screen">
			<div class="flex text-justify w-full md:w-[98%] dark:bg-slate-800 bg-slate-100 mx-2 rounded items-center justify-center inset-0">
				<p class="text-justify mx-[10px]">
					Hola, me llamo Santiago, soy un estudiante de DAM (Desarrollo de Aplicaciones Multiplataformas) y soy Tecnico en redes.<br>
					Me motiva la creatividad y la resolución de problemas, Mi trabajo combina conocimientos adquiridos con amplias formas de resolución de problemas,<br>
					para crear proyectos que no solo cumplen con las expectativas, sino que también resuelven varios problemas.<br>
				</p>
				<img src="./src/pages/img/Desenhando_Nezuko_Chibi-removebg-preview.png" class="w-[100px] h-auto">
			</div>
			<br>
			<div class="flex items-center justify-end w-full md:w-[98%] dark:bg-slate-800 bg-slate-100 mx-2 rounded inset-0">
				<img src="./src/pages/img/keq-removebg-preview.png" class="w-[100px] h-auto">
				<p class="text-right mr-[20%]">
					Cuando no estoy trabajando, me encontrarás o jugando videojuegos o viajando.<br>
					Siempre estoy dispuesto a buscar nuevos retos y colaborar con personas para dar vida a proyectos únicos.
				</p>
			</div>
			<br>
			<img src="./src/pages/img/pika-removebg-preview.png" class="w-[50%] items-center justify-center align-middle ml-[25%]">
		</div>
	</main>
</Layout>