---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Porfolio principal">
	<main>
			<div class="mx-auto h-screen grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4">
				<div class="relative h-full flex items-center justify-center group">
					<img src="./src/pages/img/1.jpg"
						class="h-full w-auto object-cover object-center">
					<p class="absolute inset-0 flex items-center justify-center text-xl font-bold text-white bg-black bg-opacity-50 p-2 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-1">
						<a href="/aboutMe">
							About Me
						</a>
					</p>
				</div>
				<div class=" relative h-full flex items-center justify-center group">
						<img src="./src/pages/img/2.webp"
							class="h-full w-auto object-cover object-center">
					<p class="absolute inset-0 flex items-center justify-center text-xl font-bold text-white bg-black bg-opacity-50 p-2 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-1">
						<a href="">
							Skills
						</a>
					</p>
				</div>
				<div class=" relative h-full flex items-center justify-center group">
						<img src="./src/pages/img/3.png"
							class="h-full w-auto object-cover object-center">
					<p class="absolute inset-0 flex items-center justify-center text-xl font-bold text-white bg-black bg-opacity-50 p-2 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-1">
						Projects</p>
				</div>
				<div class=" relative h-full flex items-center justify-center group">
						<img src="./src/pages/img/4.jpg" class="h-full w-auto object-cover object-center">
					<p
						class="absolute inset-0 flex items-center justify-center text-xl font-bold text-white bg-black bg-opacity-50 p-2 rounded opacity-0 group-hover:opacity-100 transition-opacity duration-1">
						Contact</p>
				</div>
			</div>
	</main>
</Layout>
