---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Porfolio principal">
	<main>
		<div class="m-2 relative h-screen">
			<div class="text-justify w-full md:w-max dark:bg-slate-800 bg-slate-100 mx-2 rounded items-center justify-center inset-0">
				<p>
					Hola, me llamo Santiago, soy un estudiante de DAM (Desarrollo de Aplicaciones Multiplataformas) y soy Tecnico en redes.<br>
					Me motiva la creatividad y la resolución de problemas, Mi trabajo combina conocimientos adquiridos con amplias formas de resolución de problemas,<br>
					para crear proyectos que no solo cumplen con las expectativas, sino que también resuelven varios problemas.<br>
					Cuando no estoy trabajando, me encontrarás o jugando videojuegos o viajando.<br>
					Siempre estoy dispuesto a buscar nuevos retos y colaborar con personas para dar vida a proyectos únicos.
				</p>
			</div>
		</div>
	</main>
</Layout>