---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Porfolio skills">
	<main>
		<div class="m-2 relative h-screen">
			<div class="text-justify w-full md:w-[98%] dark:bg-slate-800 bg-slate-100 mx-2 rounded items-center justify-center inset-0">
				<p class="text-justify mx-[5%]">
					Desarrollo de Software y Programación<br>
					--Conocimientos en desarrollo de aplicaciones multiplataforma (DAM).<br>
					--Manejo de lenguajes de programación como Java, Kotlin, Python y C#.<br>
					--Experiencia en el diseño y desarrollo de interfaces gráficas de usuario (GUI).<br>
					--Uso de herramientas como Android Studio, Visual Studio, y entornos de desarrollo integrados (IDEs).<br>
				</p>
			</div>
			<br>
			<div class="flex items-center justify-end w-full md:w-[98%] dark:bg-slate-800 bg-slate-100 mx-2 rounded inset-0">
				<p class="text-right mr-[5%]">
					Administración de Sistemas y Redes<br>
					--Formación en soporte y mantenimiento de redes y sistemas informáticos (SMR).<br>
					--Configuración y administración de redes locales (LAN), servidores y sistemas operativos.<br>
					--Dominio de herramientas como Windows Server, Linux, y VirtualBox.<br>
					--Resolución de problemas técnicos de hardware y software.<br>
				</p>
			</div>
			<br>
			<div class="text-justify w-full md:w-[98%] dark:bg-slate-800 bg-slate-100 mx-2 rounded items-center justify-center inset-0">
				<p class="text-justify mx-[5%]">
					Bases de Datos y Gestión de Información<br>
					--Conocimiento en diseño, creación y gestión de bases de datos relacionales.<br>
					--Uso de herramientas como MySQL, SQLite y PostgreSQL.<br>
					--Implementación de consultas SQL eficientes y estructuradas.<br>
				</p>
			</div>
			<br>
			<div class="flex items-center justify-end w-full md:w-[98%] dark:bg-slate-800 bg-slate-100 mx-2 rounded inset-0">
				<p class="text-right mr-[5%]">
					Habilidades Técnicas Complementarias<br>
					--Familiaridad con metodologías de desarrollo ágil como Scrum.<br>
					--Versionado de código con Git y plataformas como GitHub.<br>
					--Conceptos básicos de ciberseguridad y protección de datos.<br>
				</p>
			</div>
			<br>
			<div class="text-justify w-full md:w-[98%] dark:bg-slate-800 bg-slate-100 mx-2 rounded items-center justify-center inset-0">
				<p class="text-justify mx-[5%]">
					Habilidades Blandas (Soft Skills)<br>
					--Capacidad de resolución de problemas y análisis lógico.<br>
					--Adaptabilidad para aprender nuevas tecnologías y herramientas.<br>
					--Trabajo en equipo y comunicación efectiva en proyectos técnicos.<br>
					--Organización y capacidad para gestionar múltiples tareas en paralelo.<br>
				</p>
			</div>
		</div>
	</main>
</Layout>